extends ../layout/view

block conten
		div.container-fluid.padding
			br
			div.logo
				div.logo-img
			h3.font-text=name
			br
			br
			div.row.padding
				div.col-md-12.col-lg-6.table1
					ul Html
						li jhjh	
						li jhjh	
						li jhjh	
						li jhjh
					ul Javascript
						li jhjh	
						li jhjh	
						li jhjh	
						li jhjh						
				div.col-lg-6.table2
					a=item
			hr
			div.end
				a © 2019 Thanh Tuan