html
	head
	link(rel="stylesheet" href="/style/style.css")
	link(rel="stylesheet" href="/style/login.css")
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
	script(src='javascript/main.js')
	script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
	script(src='https://kit.fontawesome.com/c539bfea41.js', crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
	link(href='https://fonts.googleapis.com/css?family=Long+Cang&display=swap', rel='stylesheet')
	title blog scroll
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css')
	script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	link(href='https://fonts.googleapis.com/css?family=Long+Cang&display=swap', rel='stylesheet')
	body

		block conten